@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Empreendedor @DateTime.Now</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


     <div class="row align-items-md-stretch">
      <div class="col-12">
        <div class="h-100 p-4 text-center text-black bg-warning border-dark rounded-3">
          <h2 _msthash="1272635" _msttexthash="455715">Empresas</h2>
          <p _msthash="1224444" _msttexthash="18044923">Stonks</p>
          <button class="btn btn-outline-dark" type="button" onclick="onDivClick();" _msthash="1516450" _msttexthash="277797">Entrar</button>

        </div>
      </div>
    </div>

    <script>
        function onDivClick() {
            alert('Bem vindo Empreendedor XD');
        }
    </script>
