@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Empreendedor @DateTime.Now</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row align-items-md-stretch">
    <div class="col-12">
        <div class="h-100 p-4 text-center text-light bg-dark border-dark rounded-3">
            <h2 _msthash="1272635" _msttexthash="455715">Empresas</h2>
            <p _msthash="1224444" _msttexthash="18044923">Stonks</p>
            <button class="btn btn-outline-light" type="button" onclick="onDivClick();" _msthash="1516450" _msttexthash="277797">Entrar</button>

        </div>
    </div>
</div>

<form class="bg-light text-dark border-light rounded-1">
    <div class="mb-10">
        <label for="Codigo" class="form-label">Codigo da Empresa</label>
        <input type="number" class="form-control" id="Codigo">
    </div>
    <div class="mb-1">
        <label for="Nome" class="form-label">Nome da Empresa</label>
        <input type="text" class="form-control" id="Nome" aria-describedby="emailHelp">
        <div id="emailHelp" class="Informe o Nome oficial da empresa.</div>
    </div>
    <div class="mb-3">
        <label for="nomeFantasia" class="form-label">Nome Fantasia da Empresa</label>
        <input type="text" class="form-control" id="nomeFantasia">
    </div>
    <div class="mb-3">
        <label for="Cnpj" class="form-label">CNPJ da Empresa</label>
        <input type="number" class="form-control" id="Cnpj">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Concordar com os Termos e Codições</label>
    </div>
    <button type="submit" class="btn btn-primary" onclick="alCad();">Finalizar Cadastro</button>
</form>

<script>
    function onDivClick() {
        alert('Bem vindo Empreendedor XD');
    }
    function alCad() {
        alert('Cadastro Realizado');
    }
</script>
