@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World @DateTime.Now</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


     <div class="row align-items-md-stretch">
      <div class="col-12">
        <div class="h-100 p-4 text-center text-white bg-dark border-white rounded-3">
          <h2 _msthash="1272635" _msttexthash="455715">Academia de Trainee VixTeam</h2>
          <p _msthash="1224444" _msttexthash="18044923">Seu sucesso depende de você</p>
          <button class="btn btn-outline-light btn-lg " type="button" onclick="onDivClick();" _msthash="1516450" _msttexthash="277797">Entrar</button>
          <button class="btn btn-outline-light btn-sm"
              <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
          </button>
        </div>
      </div>
    </div>

    <script>
        function onDivClick() {
            alert('Bem vindo Trainee XD');
        }
    </script>
